body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .header h1 {
    background: linear-gradient(90deg, #58ca80, #754545);
    padding: 20px;
    font-size: 45px;
    margin: 0;
    text-align: center;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  h2 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
  }
  .content-wrap {
    background: linear-gradient(90deg, #58ca80, #754545);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .standings-section, .topscorers-section {
    padding: 20px;
    flex:1;
    min-width: 300px;
  }
  
  #search-nav {
    width: 100%; 
    max-width: 100%; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #e9e9e9;
  }
  
  #search-nav label {
    font-weight: bold;
  }
  
  #search-nav select,
  #search-nav input,
  #search-nav button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  #search-nav button {
    background-color: #49a53b;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #search-nav button:hover {
    background-color: #29520dc3;
  }
  
  /*taulukoiden tyyli*/
  #standings-table, #topscorers-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  .sort-arrow {
  margin-left: 5px;
  font-size: 20px;
  color: #333;
}
  th {
    cursor: pointer;
  }
    
  #standings-table th, #standings-table td,
  #topscorers-table th, #topscorers-table td
   {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
  }

  #topscorers-table th, #topscorers-table td {
    padding-left: 20px;
  }
  
  /*pariliset rivit tyyli*/
  #standings-table tr:nth-child(even),
  #topscorers-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

   /*parittomat rivit tyyli*/
  #standings-table tr:nth-child(odd),
  #topscorers-table tr:nth-child(odd) {
    background-color: #ffffff;
  }


  
  #standings-table tr:hover,
  #topscorers-table tr:hover {
    background-color: #ddd;
  }
  
  #standings-table th, #topscorers-table th {
    background-color: #bdb004;
    color: white;
  }
  
  /* Joukkueet-osio */
  .teams-section {
    margin: 50px;
    text-align: center;
  }
  
  footer {
    background: linear-gradient(#3ea151, #333);
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-style: italic;
  }
  /* Responsiivisuus */
  @media (max-width: 768px) {
    .content-wrap {
      flex-direction: column;
      align-items: center;
    }
  }
  